
{% extends "base.html" %}

{% block content %} 

<section class="vh-150 bg-image" style="background-color: #508bfc;">
  <div class="mask d-flex align-items-center h-150 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5" >LLM Demo</h2>

              This demo is build to preset the current possibilities of Large Langauge Models (LLMs). At the moment, selection of my 13 JRC 
              <a href="https://publications.jrc.ec.europa.eu/repository/search?filter=CONTRIBUTOR%3Adelipetrev"> reports </a>
               are indexed in the database. 
               <p>
               A user can ask questions, and the LLMs will give an answer based on these documents with citations.
               If the user ask question that is out of the domain, the LLMs will reply that it do not have enough information.
               <p>
              Example questions:
              <ol>
                <li>What is AI?</li>
                <li>What is history of AI?</li>
                <li>What is medicine? </li>
              </ol>
              <br>

              <b> *be patient with the response because it is on the cheapest possible VM (virtual machine) </b>
              <br>
              <b>*every prompt is paid so please use with care. </b>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<section class="vh-150 bg-image" style="background-color: #508bfc;">
    <div class="mask d-flex align-items-center h-150 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-center mb-5" >Ask a question</h2>
  

                    <form method="post" >
                      {% csrf_token %}
  
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg">Question</label>
                        <input name="question" type="text"  class="form-control form-control-lg" />
                      </div>
  
                      <div class="d-flex justify-content-center">
                        <button type="submit" value="Submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                      </div>
      
                   
                    </form>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="vh-150 bg-image" style="background-color: #508bfc;">>
        <div class="mask d-flex align-items-center h-150 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <h2 class="text-center mb-5">Get a response with citations</h2>
      
                                            <divOutput>{{response_text}}</divOutput>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
     


{% endblock %}
